**Template**
<!DOCTYPE html>  
<html>  
<head>  
    <title>Title</title>
</head>  
    <body>
        <ol>
            {% for dvd in dvd_list %}
                <li>{{ dvd.dvd_title }}</li>
            {% endfor %}
        </ol>

            <!-- Next/Prev page links  -->
        {% if is_paginated %}
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                        </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
        {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    </body>
</html>  