<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <ol>
        {% for dvd in dvd_list %}
            <li> {{dvd.dvd_dtitle}}</li>
        {% endfor %}
    </ol>

    <!-- Next/Prev page links  -->
        {% if movie_list and movie_list.paginator.num_pages > 1 %}
                <span class="step-links">
                    {% if movie_list.has_previous %}
                        <a href= "?page={{ movie_list.previous_page_number }}">previous</a>
                    {% endif %}

                        <span class="current">
                            Page {{ movie_list.number }} of {{ movie_list.paginator.num_pages }}.
                        </span>

                    {% if movie_list.has_next %}
                        <a href="?page={{ movie_list.next_page_number }}">next</a>
                    {% endif %}
                </span>
        {% endif %}

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script id="pagination-template" type="text/x-handlebars-template">
//    // {{#if dvds}}
//         <span class="step-links">
//             {{#if previous_page}}
//                 <a id=' {{previous_page}}' class="page_button" href="#">previous</a>

//             {{/if}}

//             <span class="current">
//                 Page {{ curent_page }} of {{all_pages}}
//             </span>

//             {{#if next_page}}
//                 <a id='{{next_page}}' class="page-button" href="#">next</a>
//             {{/if}}
//         </span>
//     {{/if}}
// </script>

</body>
</html>